
<div class= "container">
<h1>Welcome <%= current_user.name %></h1>
<br>
<div>Email: <%= current_user.email%>
<br>
<br>
  <h3>Here are the gift's you want! </h3>
    <ul>
        <% current_user.gifts.each do |gift| %>
        <li><%= link_to gift.name, gift_path %></li>
      <% end %>
    </ul>
    <h4>Can't find a gift you want, add it <%= link_to "here", new_gift_path(current_user) %></h4>

</div>