
<div class= "container">
<h1>Welcome <%= current_user.name %></h1>
<br>
<div>
<h2>Email: <%= current_user.email%></h2>
<br>
<br>
  <h2>Here is your wish list! </h2>
    <ul>
        <%current_user.gifts.each do |gift| %>
        <li><%= link_to gift.name, gift_path %></li>
      <% end %>
    </ul>
    <h2>Add more gifts <%= link_to "here", new_gift_path(current_user) %></h2>

</div>