
<div class= "container" style="align-center">
  <div class="card text-dark bg-light mb-3" style="max-width: 550px;">
  <div class="card-header"><h1>Welcome <%= current_user.name %></h1></div>
  <div class="card-body">
    <h2 class="card-title">Email: <%= current_user.email%></h5>
    <p class="card-text">
      <h2>Here is your wish list! </h2>
        <ul>
            <%current_user.gifts.each do |gift| %>
            <li><%= link_to gift.name, gift_path(gift) %></li>
          <% end %>
        </ul>
      <h2>Add more gifts <%= link_to "here", new_gift_path(current_user) %></h2>
  </p>
  </div>
</div>