
<div class= "container" style="align-center">

<h1> Welcome home <%= current_user.name %></h1>
<br>
<br>
<h2>You are part of the Family List</h2>
<br>
<br>
<h3> Merry christmas to all and to all a good night!</h3>
</div>