<h1 class="text-align:center"> List of gifts </h1>

<ul>
  <% @gifts.each do |gift| %>
    <li><%= link_to gift.name, gift %> </li>
  <% end %>
</ul>
<br>
<br>
<h2>Can't find a gift you want, add it <%= link_to "here", new_gift_path(current_user) %></h2>